%table
  %tr
    %th.left_align Hours:
    %td#hours= @player.hours
  %tr
    %th.left_align Day:
    %td#day= @player.day
  %tr
    %th.left_align Money:
    %td= @player.money
  %tr
    %th(colspan=2)
      = "Inventory: (#{@player.inventory.number_of_items}/#{@player.inventory.size})"
  %tr
    %td(colspan=2)= @player.inventory
