- klass = if @merchant
  - 'merchant'
- elsif @upgrade_shop
  - 'upgrade_shop'  
.card#location_detail{ class: klass }
  %header
    %i.material-icons location_on
    .title
      = @player.location.merchants.first || @player.location.upgrade_shop || "Location #{@player.location_id}"
    .spacer
  .body
    - if @merchant
      = render partial: 'merchants/inventory'
    - elsif @upgrade_shop
      = render partial: 'upgrade_shop/shop'

.card#player_detail
  %header
    %i.material-icons person
    .title Player
    = content_tag :a, nil, class: 'activate_light_window', data: { target: 'account_settings' } do
      %i.material-icons settings
  .body
    = render partial: 'player/inventory'
      
    %p
      = link_to 'Finish Day', finish_day_path, remote: true
    #flash
