.card#location_detail{ class: @merchant ? 'merchant' : '' }
  %header
    %i.material-icons location_on
    .title= @player.location.merchants.first || "Location #{@player.location_id}"
    .spacer
  .body
    = render partial: 'merchants/inventory'

.card#player_detail
  %header
    %i.material-icons person
    .title Player
    = content_tag :a, nil, id: 'activate_light_window' do
      %i.material-icons settings
  .body
    = render partial: 'player/inventory'
      
    %p
      = link_to 'Finish Day', finish_day_path, remote: true
    #flash
