#play_container
  = render partial: 'map'

  #detail
    = render partial: 'detail'

= render partial: 'player/account_settings_template'

%template.introduction
  %header
    %i.material-icons help_outline
    .title= @help_text.title
    = content_tag :a, nil, class: 'close_light_window' do
      %i.material-icons clear
  .body= @help_text.text
  %footer
    = content_tag :a, 'Continue', class: 'close_light_window'

- @help_message = @help_text.message_for(current_player)
- unless @help_message.viewed
  :javascript
    $(function(){
      activate_light_window('introduction');
    });
  - @help_message.viewed = true
  - @help_message.save

:javascript
  $('.location[data-id=#{@player.location.id}]').addClass('player');
  $(document).on('click', '.location[data-id]', function(){
    $.get("/player/move/" + $(this).data('id'));
  });

