= render partial: 'map'

#detail
  %table
    %tr
      %th Points:
    %tr
      %td#points= @player.points
    %tr
      %th Money:
    %tr
      %td= @player.money
    %tr
      %th Inventory:
    %tr
      %td= @player.inventory
  %p
    = link_to 'Finish Day', finish_day_path, remote: true
  #flash


:javascript
  $('.location[data-id=#{@player.location.id}]').addClass('player');
  $('.location[data-id=#{@player.next_location_id}]').addClass('destination');
  $(document).on('click', '.location[data-id]', function(){
    $.get("/player/move/" + $(this).data('id'));
  });
