%h2= "Location #{location.id}"
= form_for location do |f|
  %table
    %tr
      %th Coordinates
    %tr
      %td= f.number_field :x_position
      %td= f.number_field :y_position

  %table
    %tr
      %th Neighbor
      %th Distance
    - location.paths.each do |path|
      %tr
        %td= path.neighbor.id
        %td 0


  = f.submit