<!DOCTYPE html>
<html>
  <head>
    <title>PlantsForHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Map View', '/map' %>
      <%= link_to 'List View', '/list' %>
      <%= link_to 'Builder', '/builder' %>
    </nav>
    <%= yield %>
  </body>
</html>
