<!DOCTYPE html>
<html>
  <head>
    <title>PlantsForHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="messages">
      <template id='flash'>
        <p class="flash inactive" id="notice">message</p>
      </template>
    </div>

    <% if notice %>
      <script>
        flash('<%= notice %>');
      </script>
    <% end %>
    
    <%= yield %>

     <div id="help_button">
      <%= content_tag :a, nil, class: 'activate_light_window', data: { target: 'introduction' } do %>
        <i class="material-icons">help</i>
      <% end %>
    </div>


    <div id="volume_button">
      <i class="material-icons">volume_up</i>
    </div>

    <%= render partial: 'layouts/light_window_template' %>


  </body>
</html>
